/*首页start*/
.conBox{
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    overflow:hidden;
}
.conBox .Whole{
	overflow:hidden;
}
.conBox .fl-add{
	float:left;
	width:48.5%;
}
.conBox .fr-add{
	float:right;
	width:48.7%;
	margin-bottom: 0.9rem;
}
.conBox .fl-add a{
	margin-bottom: 0.9rem;
    display: inherit;
} 
.conBox a:hover img{
	/*transition: 0.3s all ease-in; */
	-webkit-transform:scale(0.98);
    -moz-transform:scale(0.98);
    -transform:scale(0.98);
}
.conBox .relation-poc .relation{
	width: 64.5%;
    display: inherit;
    float: left;
}
.conBox .relation-poc .poc{
	width: 32.5%;
    display: inherit;
    float: right;
}

/*首页end*/