/*首页start*/
.conBox{
	width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1rem;
    overflow:hidden;
}
.conBox .Whole{
	overflow:hidden;
}
.conBox .fl-add{
	float:left;
	width:48.5%;
}
.conBox .fr-add{
	float:right;
	width:48.7%;
	margin-bottom: 0.9rem;
}
.conBox .fl-add a{
	margin-bottom: 0.9rem;
    display: inherit;
} 
.conBox a:hover img{
	/*transition: 0.3s all ease-in; */
	-webkit-transform:scale(0.98);
    -moz-transform:scale(0.98);
    -transform:scale(0.98);
}
.conBox .relation-poc .relation{
	width: 64.5%;
    display: inherit;
    float: left;
}
.conBox .relation-poc .poc{
	width: 32.5%;
    display: inherit;
    float: right;
}

/*首页end*/

/*联系我们start*/
.relation .img-add img{
	margin:5px 0px;
}
.relation .tier{
	background:#e3e3e3;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	line-height:40px;
	padding-left:20px;
	font-size:16px;
}
.relation .box {
	background:#fff;
	padding:0px 23px;
	margin-bottom:32px;
}
.relation .box .icon-map,.relation .box .icon-map-1,.relation .box .icon-map-2{	
	width:21px;
	height:21px;	
	float:left;
	margin-right:16px;	
}
.relation .box .icon-map{
	background:url(../../../images/icon_4.gif);
	background-size:100%;
	margin-top:7px;
}
.relation .box .icon-map-1{
	background:url(../../../images/icon_3.gif);
	background-size:100%;
	margin-top:7px;
}
.relation .box .icon-map-2{
	background:url(../../../images/icon_2.gif);
	background-size:100%;
	margin-top:7px;
}
.relation .box li{
	padding:12px 0px;
	border-bottom:1px solid #cccccc;
} 
.relation .box-fost{
	line-height:20px;
}
.box-fost .font-si{
	font-size:16px;
}
.box-fost .font-se{
	font-size:14px;
	color:#45494d;

}
.relation .box .last{
	border-bottom:none;
}
.header-imparity{
	box-shadow: 0 3px 6px rgba(0,0,0,0.3);
	position:fixed;
	width:100%;
	min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
/* .business-list{
	position:absolute;
	left:0px;
    top: 93px;
    z-index: 5555;
    width: 100%;
} */
/*联系我们ent*/

/*核心业务start*/
.business-list ul .business-kind{
	padding:16px 10px 54px;
	font-size:14px;
}
.js-tab-content img{
	padding-top:90px;
}
.business-list li{
	display:none;
}
.js-tab-content.active{
	display:block;
}
/*核心业务end*/



