/*中心简介添加的*/
 
.business-list .background-add-none{	
	padding:10px 10px;
}
.h1-news{
	font-size:20px;
}
.news-p{
	color:#949799;
	padding:8px 0px;
}
.news-p .icon-add-zhong{
	background:url(../../../images/icon.png);background-size:100%;
	width:13px;
	height:13px;
	display:inline-block;
	vertical-align: top;
	margin-right:2px;
}
.news-content{
	font-size:14px;
	line-height:18px;
}
.intro-add{
	color:#0059b3;
	font-size: 14px;
    margin-left: 12px;
}
/*中心简介添加的*/