.checkout-info{position: relative;width: 100%;margin-top: 10px;padding:0 10px;background-color: #fff;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;box-sizing: border-box;}
.step1,.step3{border-bottom: 1px solid #e5e5e5;}
.checkout-link{display: block;width:100%;}
.checkout-label{display: inline;float:left;width:57px;margin-top:4px;font-size:16px;line-height: 1.5;}
.checkout-cnt{padding:6px 57px 5px;font-size:14px;line-height: 22px;color:#878787;}
.checkout-point{position: absolute;right:10px;top:50%;width:10px;height:20px;margin-top:-10px;
background-image:url(../images/slice/ico-arrow-right.png);background-size:10px 20px;}
.step2{padding:0;}
.step2 .checkout-title{position:relative;padding:13px 20px;font-size:16px;line-height:1.5;border-bottom: 1px solid #e5e5e5;}
.step2 .checkout-title:after{content:"";position: absolute;left:10px;top:50%;width:2px;height:15px;margin-top:-7px;background: #ff9400;}
.step3 .checkout-label{width:72px;}
.step3 .checkout-cnt{padding: 7px 36px 4px 72px;font-size: 12px;line-height: 19px;}
.step4 .checkout-link{display: table;width:100%;}

.step4 .checkout-label{position:absolute;top:50%;left:10px;float:none;width:41px;margin-top:-12px;padding-left:0;white-space:nowrap;text-overflow: ellipsis;overflow: hidden;}
.step4 .checkout-cnt{margin:0;padding:8px 18px 8px 41px;}
.step5 .checkout-top{padding-top:12px;margin-bottom:10px;font-size:12px;color:#878787;line-height: 19px;}
.step5 .checkout-bd{padding-bottom: 14px;}
.step5 .checkout-balance{font-size:14px;color:#ff9400;}
.step5 .checkout-label{width:88px;margin:0;line-height: 30px;}
.step5 .txt-input{width:33.823529%;text-align: center;}
.step5 a{display:inline;float:right;width:32.352941%;margin:0;}
.pay-bar{padding:25px 10px;}
.pay-bar .pay-btn{width: 100%;margin:0 0 10px;}
.propt-window-1{display:none;height:auto;margin-top: -211px;}
.propt-window-2{display:none;height:auto;margin-top:-186px;}
.distribution{padding:10px;}
.distr-item{margin-bottom:10px;border:1px solid #e5e5e5;}
.distr-item .hd{height:34px;padding:0 10px;line-height:34px;font-size:14px;border-bottom: 1px solid #e5e5e5;white-space: nowrap;overflow: hidden;}
.distr-item-com input[type=radio]{-webkit-appearance: radio;}
.distr-item-com .bd{padding:10px 0;}
.distr-item-com .bd p{position:relative;padding:0 10px;margin-bottom: 12px;}
.distr-item-com .bd p:nth-last-child(1){margin-bottom:0;}
.distr-item-com .bd input{position:absolute;left:10px;top:3px;vertical-align: top;}
.distr-item-com .bd label{display: block;padding:0 10px 0 20px;line-height: 19px;}
.distr-item-time .bd{padding:5px 0;}
.distr-item-time .dl-list{padding:6px 10px;margin:0 10px;font-size:13px;line-height:21px;color:#f00;background: #e5e5e5;}
.distr-item-time .dl-label{width: 110px;color:#878787;}
.distr-item-time .dl-cnt{min-height:19px;padding-left:110px;color:#333;}
.distr-item-se{border: none;}
.distr-item-se .bd{padding:5px 0;}
.distr-item-se .custom-select{width:43.75%;text-align:center;background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
.distr-date{display:inline;float:left;margin-left:4.6875%;}
.distr-time{display:inline;float:right;margin-right:4.6875%;}
.distr-item-btn{margin-bottom:5px;border:none;}
.distr-item-btn .btn-lg{width: 100%;margin:0;}
.ptw-coupou .ptw-item{position:relative;padding:15px 2.941176%;margin:0;}
.ptw-coupou .ptw-item-hui:after{content:"";position:absolute;left:2.941176%;right:2.941176%;bottom: 0;border-bottom: 1px dashed #e5e5e5;}
.ptw-coupou .ptw-item-label{width:27.5%;text-align: left;}
.ptw-coupou .ptw-item-cnt{width:71.875%;}
.ptw-coupou .custom-select{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius: 5px;}
.ptw-coupou .custom-select select{padding:5px 10px;}
.coupon-code input{float:left;width:21.645022%;height:30px;padding:6px;font-size:14px;background: #f6f6f6;border:1px solid #e5e5e5;border-radius: 5px;margin-right: 4.329004%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;text-align: center;}
.coupon-code input:nth-last-child(1){margin-right: 0;}
.ptw-coupou .ptw-option{border-bottom: 2px solid #ff9400;}
.ptw-option .btn-lg{margin:0;width:100%;}
.ptw-coupou .ptw-option:after{visibility: hidden;}
.ptw-coupou .ptw-item-piao{padding-top:25px;padding-bottom: 25px;}
.ptw-coupou .ptw-form{padding:11px 0 0;}
.ptw-coupou .ptw-form:after{visibility: hidden;}
.distrBox,.coupouBox{min-height:100%;background: #fff;display: none;}
