.paying{position:relative;width:100%;height:100%;min-width:320px;max-width: 640px;margin:0 auto;}
.loading-box{position:absolute;top:50%;width:100%;margin-top:-70px;text-align: center;}
.loading-img{margin-bottom: 9px;}
.ico-loading-tr{width:33px;height:33px;background: url(../images/loading-green.png) no-repeat;background-size: 33px 33px;
    -webkit-animation: loading 2s infinite linear;
    -moz-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
}
@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}
@-moz-keyframes loading {
    from {
        -moz-transform: rotate(0deg) translateZ(0);
    }
    to {
        -moz-transform: rotate(360deg) translateZ(0);
    }
}
@-ms-keyframes loading {
    from {
        -ms-transform: rotate(0deg) translateZ(0);
    }
    to {
        -ms-transform: rotate(360deg) translateZ(0);
    }
}
@keyframes loading {
    from {
        transform: rotate(0deg) translateZ(0);
    }
    to {
        transform: rotate(360deg) translateZ(0);
    }
}
.loading-txt{font-size: 12px;line-height:1.5;color:#878787;}
.bg-logo{display: block;position:absolute;left:50%;bottom:51px;width:60px;height: 32px;margin-left:-30px;background-image: url(../images/sm-logo.png);background-size: 60px 32px;}