.replace{position: absolute;top:58px;bottom:0;width:100%;background:#fff;}
.replace-hd{height:40px;line-height:40px;padding:0 10px;border-bottom:1px solid #e5e5e5;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.goods-operate{float:right;height:21px;}
.goods-operate-btn{display: inline-block;padding:0 8px;height:20px;font-size:12px;border:1px solid #ff9400;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;cursor: pointer;}
.goods-operate-btn:active{background:#ff9400;color:#fff5e8;}
.replace-bd .goods-num{float:left;}
.replace-reason{padding:.625em;}
.replace-reason-title{display:-webkit-box;display:-moz-box;display:-o-box;display:-ms-flexbox;display: flex;}
.replace-reason-title label{display:inline-block;width:70px;height:26px;font-size:.875em;line-height: 26px;color:#999;}



.replace-reason-cnt{width:100%;padding:8px 0 0;min-height: 172px;background: #fff;}
.replace-reason-cnt textarea{width: 100%;height:164px;padding:5px;font-size:14px;resize:vertical;background: #fafafa;border:1px solid #e5e5e5;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing:border-box; }
.replace-operate{padding:0 10px 10px;}
.return .replace-operate{padding-top:25px;}
.replace-operate .btn{width: 100%;height:40px;line-height:40px;margin:0 0 10px;}
.replace-operate .btn:nth-last-child(1){margin-bottom: 0;}

