.requiredField {
	padding-right: 3px;
	color: #ff6d6d;
	font-size: 15px;
}
/* ---------- xxDialog ---------- */
div.xxDialog {
	display: none;
	position: fixed;
	_position: absolute;
	top: 25%;
	_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px");
	left: 50%;
	z-index: 100;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 6px #999999;
	-moz-box-shadow: 1px 1px 6px #999999;
	box-shadow: 1px 1px 6px #999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3)";
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3);
	*filter: none;
	border: 1px solid #779cb0;
	background: url(../image/common2.gif) 0px -660px repeat-x #ffffff;
}

div.xxDialog .dialogTitle {
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	color: #666666;
	font-weight: bold;
	font-size:14px;
	cursor: move;
	background: #c7e25c;
}

div.xxDialog .dialogClose {
	width: 25px;
	height: 19px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: url(../image/common2.gif) 0px -330px no-repeat;
}

div.xxDialog .dialogClose:hover {
	background-position: -30px -330px;
}

div.xxDialog .dialogwarnIcon {
	line-height: 24px;
	padding-left: 30px;
	margin: 50px 0px 40px 60px;
	background: url(../image/common2.gif) -60px -360px no-repeat;
}

div.xxDialog .dialogsuccessIcon {
	line-height: 24px;
	padding-left: 30px;
	margin: 50px 0px 40px 60px;
	background: url(../image/common2.gif) -30px -390px no-repeat;
}

div.xxDialog .dialogerrorIcon {
	line-height: 24px;
	padding-left: 30px;
	margin: 50px 0px 40px 60px;
	background: url(../image/common2.gif) 0px -420px no-repeat;
}

div.xxDialog .dialogIframe {
	width: 2000px;
	height: 2000px;
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}
.dialogOverlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	_position: absolute;
	top: 0px;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);
	left: 0px;
	z-index: 99;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
	zoom: 1;
	background: url(../image/dialog_overlay.png);
}
.loadingOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	_position: absolute;
	top: 0px;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);
	left: 0px;
	z-index: 800;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
	zoom: 1;
	background: url(../image/loading_overlay.png);
}
.loadingImage{
	position: fixed;
	_position: absolute;
	left:50%;
	top:30%;
	z-index: 1000;
}
.red {
	color: red;
}

/* ---------- xxMessage ---------- */
div.xxMessage {
	padding: 10px 30px;
	display: none;
	position: fixed;
	_position: absolute;
	top: 25%;
	_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px");
	left: 50%;
	z-index: 100;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 6px #999999;
	-moz-box-shadow: 1px 1px 6px #999999;
	box-shadow: 1px 1px 6px #999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3)";
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3);
	border: 1px solid #999999;
	background-color: #ffffff;
}

div.xxMessage .messageContent {
	line-height: 24px;
	padding: 0px 10px 0px 30px;
	color: #666666;
}

div.xxMessage .messagewarnIcon {
	background: url(../image/common.gif) -60px -330px no-repeat;
}

div.xxMessage .messagesuccessIcon {
	background: url(../image/common.gif) -30px -360px no-repeat;
}

div.xxMessage .messageerrorIcon {
	background: url(../image/common.gif) 0px -390px no-repeat;
}

div.xxMessage .messageIframe {
	width: 2000px;
	height: 2000px;
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}