.grabCoupon{}
.grabCoupon .title{padding-top: 38px;font:600 24px/44px "microsoft yahei";}
.grabCoupon .title h2{height:44px;color:#000000;line-height: 44px;padding-left:54px;margin-bottom:11px;background: url("../image/i/conpon.png") no-repeat 0 0;}
.grabCoupon .coupon-show{}
.grabCoupon .coupon-show a{display: block;width:100%;margin-bottom: 20px;}
.grabCoupon .coupon-show a img{text-align: center;}
.activate{height:50px;}
.grabCoupon .coupon-ruler{margin-bottom:54px;font-size:20px;line-height: 44px;font-weight:500;color:#000000;background: url("../image/fresh/coupon_bd01.jpg") no-repeat left bottom;}
.grabCoupon .coupon-ruler h3{padding-top:20px;text-align: center;margin-bottom: 36px;}
.grabCoupon dl.coupon-direction{width:324px;margin:0 auto;padding-bottom: 18px;}
.grabCoupon dl.coupon-direction dt{margin-bottom:10px;font-size:36px;line-height: 44px;text-align:center;color:#71a91b;}
.grabCoupon dl.coupon-direction dd{padding-left:42px;background-image: url("../image/i/conpon.png");background-repeat: no-repeat;}
.grabCoupon dl.coupon-direction .first{background-position: 0 -44px;}
.grabCoupon dl.coupon-direction .second{background-position: 0 -88px;}
.grabCoupon dl.coupon-direction .third{background-position: 0 -132px;}